<!DOCTYPE html>
<html ng-app="zayaApp">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/jquery.mmenu.css">
	<link rel="stylesheet" href="css/jquery.mmenu.positioning.css">
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<div class="listData" ng-controller="listCtrl">
		<nav class="navbar navbar-default">
		  <div class="container-fluid">
		    <div class="navbar-header">
		      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <a class="navbar-brand" href="#">Zaya</a>
		    </div>

		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      <ul class="nav navbar-nav">
		        <li><a href="#">Dashboard</a></li>
		        <li class="active"><a id="create" href="#">Create</a></li>
		        <li><a href="#">Reports</a></li>
		      </ul>
		      <ul class="nav navbar-nav navbar-right">
		        <li class="dropdown">
		          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
		        </li>
		      </ul>
		    </div>
		  </div>
		</nav>
		<div class="container-fluid">
			<div class="row">
				<div class="col-lg-8 col-md-8 col-sm-8">
					<p>Drag and drop lessons to create a course</p>
					<div class="row searchFilter">
						<form>
							<div class="col-lg-4 col-md-4 col-sm-4">
								<select class="form-control" ng-model="subject" ng-options="subj.subject for subj in subjectList">
						            <option value="">All Subjects</option>
						        </select>
							</div>
							<div class="col-lg-4 col-md-4 col-sm-4">
						        <select class="form-control col-lg-4 col-md-4 col-sm-4" ng-model="grade" ng-options="grd.grade for grd in gradeList track by grd.id">
						            <option value="">All Grades</option>
						        </select>
					        </div>
					        <div class="col-lg-4 col-md-4 col-sm-4">
					        	<i type="submit" class="glyphicon glyphicon-search search-icon" ng-click="search()"></i>
					        </div>
				        </form>
			        </div>

					<ul id="car-list" class="list-group">
						<li class="list-group-item active">List of Subjects</li>
						<li class="list-group-item" ng-repeat="list in listData">
						  	<div class="row">
						  		<div class="col-lg-3 col-md-3 col-sm-3">
						  			<img ng-show="list.image" src="{{list.image}}" />
						  		</div>
						  		<div class="col-lg-9 col-md-9 col-sm-9 data-content">
						  			<h1 id="item{{ list.id }}" class="item" draggable item="item">{{ list.title }}</h1>
						  			<p>{{ list.subject }} Grade: {{ list.grade }}</p>
						  			<div class="row meta-data">
						  				<div class="col-lg-8 col-md-8 col-sm-8 data-details">
						  					{{ list.noOfVideos }} <i class="glyphicon glyphicon-facetime-video"></i> 
						  					{{ list.noOfVideos }} <i class="glyphicon glyphicon-list-alt"></i>
						  					{{ list.noOfVideos }} Q
						  				</div>
						  				<div class="date col-lg-4 col-md-4 col-sm-4"><span>{{ list.date }}</span></div>
						  			</div>
						  		</div>
						  	</div>
						</li>
					</ul>
					<div class="error" ng-show="error">{{ error }}</div>
				</div>
				<div class="col-lg-4 col-md-4 col-sm-4">
					<div class="overlayDiv">
						<div class="topCreate">
							<h3 class="createTitle">New course</h3>
							<button id="cancel" class="btn btn-danger">Cancel</button>
						</div>
						<div class="createWrapper">
							<div class="bin" droppable drop="handleDrop" bin="bin" id="bin{{ bin }}">drop to add more lessons</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="js/jquery-1.12.0.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/jquery.mmenu.min.js"></script>
	<script src="js/angular.min.js"></script>
	<script src="js/app.js"></script>
</body>
</html>